.page {
  width: 100%;
}

.page-1 {
  width: 1170px;
  margin: 0 auto;
}

.page .page__text {
  width: 1170px;
  margin: 0 auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.page__text-border {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.page__text-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878b;
  margin: 40px;
}

.page__section {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.page__section-1 {
  width: 25%;
  display: inline-block;
}

p {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
}
