.tabs {
  width: 1170px;
  margin: 0 auto;
  margin-top: 30px;
}

.block__tabs .block__tabs1 {
  display: inline-block;
  border-left: 1px solid#C6CBCD;
  border-top: 1px solid#C6CBCD;
  border-right: 1px solid#C6CBCD;
  text-align: center;
  width: 180px;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.block__tabs2 {
  display: inline-block;
  border-bottom: 1px solid#C6CBCD;
  width: 180px;
  text-align: center;
  padding: 10px 0;
  margin: -5px;
}

.special {
  padding-right: 615px;
}

.about {
  border-left: 1px solid#c6cbcd;
  border-bottom: 1px solid#c6cbcd;
  border-right: 1px solid#c6cbcd;
  width: 100%;
}

.about-titel {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.about-titel__titel {
  margin: 47px 0 47px 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

.about-titel__subtitle {
  margin: 47px 0 47px 100px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.about-titel__button {
  width: 250px;
  height: 50px;
  margin: 0 100px auto;
  background-color: #ec7979;
  border: #ec7979;
  color: azure;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.about__image {
  width: 49%;
  display: inline-block;
}

.about__image img {
  padding-left: 111px;
}
.price-column-cpecial:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.price-column__column:hover {
  transform-origin: top right;
  transform: scale(1.2);
  transition-duration: 1s;
}
.price-column__column:last-child:hover {
  transform-origin: top left;
  transform: scale(1.2);
  transition-duration: 1s;
}
