.footer {
  min-height: 164px;
  background-color: black;
  margin: 0 auto;
}

.link-items {
  text-align: center;
  padding-top: 40px;
}

p {
  color: #ffffff80;
  font-size: 18px;
}

a {
  color: black;
}
@media screen and (max-width: 1000px) and (orientation: landscape) {
  .footer__icon {
    width: 45px;
  }
}
@media screen and (max-width: 755px) and (orientation: portrait) {
  .footer__icon {
    width: 35px;
  }
  p {
    font-size: 14px;
  }
}
